@use '../../styles/variables' as *;

.wrapper {
  padding-top: 64px !important;

  @media (min-width: 768px) {
    padding-top: 100px !important;
  }

  @media (min-width: 1440px) {
    padding-top: 120px !important;
  }
}

.title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
