@use '../../styles/variables.scss' as *;

.input-wrapper {
  position: relative;
  line-height: normal;

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    padding-right: 2.5rem;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid $silver;
    color: $secondary-black;
    background-color: $white-color;

    &::placeholder {
      opacity: 1;
    }

    &:focus {
      border: 1px solid $primary-black;
      outline: none;
    }

    &:not(:placeholder-shown) {
      border: 1px solid $primary-black;
    }
  }

  .error {
    display: block;
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  &.last-input {
    margin-bottom: 2.5rem;
  }

  .toggle-password-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  
    svg {
      width: 20px;
      height: 20px;
      display: block;
      color: $primary-black;
      pointer-events: none;
    }
  }
  
}

.input-error input {
  border: 1px solid red;
}
