@use '../../styles/variables.scss' as *;

.toggle-password-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
  
    svg {
      width: 20px;
      height: 20px;
      display: block;
      color: $primary-black;
      pointer-events: none;
  
      transition: opacity 0.2s ease, transform 0.2s ease;
      opacity: 1;
      transform: scale(1);
    }
  
    &:active svg {
      transform: scale(1.2);
    }
  }
  