@use '../../styles/variables.scss' as *;

.btn {
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 500;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $primary-black;
  }

  // Size
  &-small {
    padding: 14px 30px;
    font-size: 12px;
    line-height: 18px;
  }

  &-publish {
    padding: 14px 32px;
    font-size: 14px;
    line-height: 20;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      padding: 16px 39px;
    }
  }

  &-add-recipe {
    font-size: 14px;
    padding: 12px 24px;
    font-weight: 700;
    line-height: 20px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      padding: 16px 32px;
    }
  }

  &-large {
    width: 25rem;
    padding: 1rem;
  }

  // Variant
  &-white-border {
    border: 1px solid $white-color;
    color: $white-color;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $white-color;
      color: $primary-black;
      border: 1px solid $primary-black;
    }
  }

  &-grey {
    color: $white-color;
    background-color: $silver;

    &:hover,
    &:focus {
      background-color: $primary-black;
    }
  }

  &-outline {
    background-color: transparent;
    border: 1px solid $primary-black;
    color: $primary-black;

    &:hover,
    &:focus {
      color: $white-color;
      background-color: $primary-black;
    }
  }

  // Disabled State
  &-disabled {
    color: $white-color;
    background-color: $silver;
    cursor: not-allowed;
  }
}
