@use '../../styles/variables.scss' as *;

.auth-modal {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-family: $font-stack;
      font-weight: 900;
      font-size: 32px;
      line-height: 125%;
      color: $primary-color;
      text-align: left;
      margin-bottom: 2.5rem;
    }
  
    .sign-up-form {
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
  
      input {
        padding: 1rem 20.625rem 1rem 0.888rem;
        border-radius: 30px;
        border: 1px solid $btn-disabled-color;
        background-color: $white-color;

        &::placeholder {
            color: $btn-color;
            opacity: 1;
        }
      }
  
      .error {
        color: red;
        font-size: 0.8rem;
        margin-top: -0.5rem;
      }
  
      button {
        padding: 1rem 0.094rem;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
  
        &:disabled {
          background-color: #aaa;
          cursor: not-allowed;
        }
      }
    }
  
    p {
      text-align: center;
      margin-top: 1rem;
  
      .switch {
        color: $primary-color;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
          }
      }
    }
  }
  