@use '../../styles/variables.scss' as *;

.auth-modal {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 1.25rem 0;

  h2 {
    font-family: $font-stack;
    font-weight: 900;
    font-size: 32px;
    line-height: 125%;
    color: $primary-black;
    text-align: left;
    margin-bottom: 2.5rem;
  }

  .sign-up-form {
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;

    input {
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 30px;
      font-size: 16px;
      border: 1px solid $silver;
      color: $secondary-black;
      background-color: $white-color;
      width: 100%;

      &::placeholder {
        opacity: 1;
      }

      &:focus {
        border: 1px solid $primary-black;
        outline: none;
      }

      &:not(:placeholder-shown) {
        border: 1px solid $primary-black;
      }

      .last-input {
        margin-bottom: 2.5rem;
      }
    }

    .error {
      color: red;
      font-size: 0.8rem;
      margin-top: -0.5rem;
    }

    button {
      box-sizing: border-box;
      padding: 1rem;
      background-color: $primary-black;
      color: white;
      border: none;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      width: 100%;

      &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
      }
    }
  }

  p {
    text-align: center;
    color: $silver;
    margin-top: 1rem;
    font-size: 14px;

    .switch {
      color: $primary-black;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 2.5rem;
  }
}
