@use '../../styles/variables.scss' as *;
.content {
  flex-grow: 1;
  width: 100%;

  @media (min-width: 1440px) {
    width: auto;
  }
}

.tabs {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid $silver;
  margin-bottom: 2rem;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  @media (min-width: 768px) {
    gap: 40px;
    margin-bottom: 2.5rem;
    overflow: hidden;
  }
}

.outlet {
  width: 100%;
  padding: 0;
}
