@use '../../styles/variables.scss' as *;

.selector-wrapper {
  position: relative;
  width: 100%;
}

.list {
  position: absolute;
  width: -webkit-fill-available;
  top: 105%;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  max-height: 200px;

  padding: 0.85rem 0;
  align-items: flex-start;
  border-radius: 1rem;
  background: #fff;

  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* Hide Scroll в Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  /* Firefox */
  scrollbar-width: none;

  &-item {
    width: 100%;
    cursor: pointer;
    padding: 0.25rem 1.125rem;

    &-reset {
      @extend .list-item;
      font-style: italic;
      color: $silver;
    }

    &:hover {
      background-color: rgb($silver, 20%);
    }
  }
}

.selector {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1rem 1.125rem;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02rem;

  border-radius: 1.875rem;
  background-color: transparent;
  border: 1px solid $silver;

  .text-default {
    color: $silver;
  }

  .text-selected {
    color: $secondary-black;
  }
}
