@use '../../styles/variables' as *;

.preparation {
  font-size: 14px;
  color: $silver;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 16px;
    color: inherit;
  }
}

.preparationSpace {
  margin-top: 20px;
}

.button {
  margin-top: 32px;
  padding: 11px 20px;
  font-size: 14px;
  color: $silver;
  border-color: $silver;

  @media (min-width: 768px) {
    margin-top: 40px;
    padding: 15px 32px;
    font-size: 16px;
    color: inherit;
    border-color: inherit;
  }
}
