@use './reset';
@use './variables' as *;

body {
  margin: 0;
  font-family: $font-stack;
  background-color: #f8f9fa;
  color: $primary-black;
}

.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: $main-mobile-padding;

  @media screen and (min-width: 375px) {
    max-width: 375px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: $main-tablet-padding;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: $main-desktop-padding;
  }
}

.page-content {
  flex: 1;
  width: 100%;
}
