$primary-color: #050505;
$white-color: #ffffff;
$btn-color: #1a1a1a;
$btn-disabled-color: #bfbebe;

$font-stack: 'Mulish', 'Segoe UI', sans-serif;

$main-desktop-padding: 1.25rem;
$main-tablet-padding: 1rem;
$main-mobile-padding: 0.5rem;
