$primary-black: #050505;
$white-color: #ffffff;
$secondary-black: #1a1a1a;
$silver: #bfbebe;

$font-stack: 'Mulish', 'Segoe UI', sans-serif;

$main-desktop-padding: 5rem;
$main-tablet-padding: 2rem;
$main-mobile-padding: 1rem;
