@use '../../../styles/variables.scss' as *;

.formGroup {
  width: 100%;
}

.input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 700;

  &::placeholder {
    color: $placeholder-color;
  }
}
