@use '../../../styles/variables.scss' as *;

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Customize react-select */
.select {
  width: 100%;
  padding: 0.875rem !important;
  border-color: $silver !important;
  border-radius: $form-field-radius !important;
  appearance: none;
  font-size: 14px;
  font-family: inherit;
  line-height: 1 !important;
  outline: none !important;
  box-shadow: none !important;
  min-height: unset !important;
  transition: 0.5s border-color;
  cursor: text !important;

  &:invalid {
    color: $silver;
  }
  &:focus-within {
    border-color: $primary-black !important;
  }

  & div {
    margin: 0 !important;
    padding: 0 !important;
  }

  @media screen and (min-width: 768px) {
    padding: $form-field-paddings !important;
    font-size: 16px;
    line-height: 1.5 !important;
  }
}

.selectPlaceholder {
  color: $silver !important;
  margin: 0 !important;
}

.selectMenu {
  font-size: 0.875rem;
  z-index: 10;
  padding: 0.5rem 0 !important;
  border-radius: 15px !important;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

.selectMenuListItem {
  padding: 0.5rem 1.125rem !important;
}

.arrow {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.open {
  transform: rotate(180deg);
}

.error {
  border-color: $error-color !important;
}
