.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 343px;
  max-height: 90vh;
  overflow-y: auto;

  @media (min-width: 768px) {
    max-width: 560px;
    max-height: none;
    height: auto;
    border-radius: 30px;
  }
}
