@use '../../styles/variables' as *;

.header {
  .container {
    padding: 0.5rem 0.5rem 0;

    @media screen and (min-width: 768px) {
      padding: 1rem 1rem 0;
    }

    @media screen and (min-width: 1440px) {
      padding: 1.25rem 1.25rem 0;
    }
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding: 1rem 1rem 0;

    @media screen and (min-width: 768px) {
      padding: 1.25rem 2rem 0;
    }

    @media screen and (min-width: 1440px) {
      padding: 1.25rem 3.75rem 0;
    }
  }

  .logo {
    color: white;
    font-size: 1.25rem;
    line-height: 24px;
    text-decoration: none;
    font-weight: 800;
  }

  .user-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .btn {
    padding: 0;
    display: flex;
    align-items: center;

    &.sign-in {
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      background-color: white;
      color: $primary-black;
      padding: 10px 16px;
    }

    &.sign-out {
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      padding: 9px 16px;
      border: 1px solid $silver;
      min-height: 38px;
    }

    &.burger-menu-btn {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}
