@use '../../styles/variables' as *;

.bread-crumb {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin-bottom: 2.5rem;
  }

  @media (max-width: 1440px) {
    margin-top: 5rem;
  }

  .bread-crumb-link {
    color: $silver;
    font-weight: 700;

    &:hover {
      color: $primary-black;
    }
  }

  .bread-crumb-separator {
    color: $silver;
  }
}
