.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 колонки
  gap: 20px;
  padding: 0;
  list-style: none;

  // Широкі картки займають 2 колонки
  .wideItem {
    grid-column: span 2;
  }

  // Адаптив для мобільних
  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .wideItem {
      grid-column: span 1;
    }
  }
}
