@use '@fontsource/mulish' as *;

@use './styles/variables.scss' as *;
@use './styles/main' as *;

@import '@fontsource/mulish/400.css';
@import '@fontsource/mulish/500.css';
@import '@fontsource/mulish/600.css';
@import '@fontsource/mulish/700.css';
@import '@fontsource/mulish/800.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $white-color;
  text-decoration: inherit;
}
a:hover {
  color: $silver;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;  
  transition: border-color 0.25s;
}
