@use 'sass:color';

@use '../../styles/variables' as *;

.button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $btn-disabled-color;
  width: 36px;
  height: 36px;
  color: $primary-color;

  @media (min-width: 768px) {
    width: 42px;
    height: 42px;
  }

  &:hover:not(.active) {
    border-color: color.adjust($btn-disabled-color, $lightness: 10%);
  }
}

.active {
  background-color: $primary-color;
  color: $white-color;
  border-color: $primary-color;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: 10%);
  }
}
