@use '../../../styles/variables.scss' as *;

$uploader-width: 100%;
$uploader-ratio: 1.38 / 1;

.formGroup {
  width: 100%;
}

.uploader {
  width: $uploader-width;
  aspect-ratio: $uploader-ratio;
  border: 1px dashed $silver;
  border-radius: $form-field-radius;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.3s;

  &:hover {
    border-color: lighten($color: $silver, $amount: 2);
  }
}

.error {
  border-color: $error-color;
}

.preview {
  width: $uploader-width;
  aspect-ratio: $uploader-ratio;
  border-radius: $form-field-radius;
  object-fit: cover;
  object-position: center;
  mask-repeat: no-repeat;
}

.input {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.label {
  font-size: 1rem;
  text-decoration: underline;
}
