.auth-switcher {
    .switcher {
      display: flex;
      border: 2px solid #fff;
      border-radius: 999px;
      overflow: hidden;
      background-color: black;
  
      button {
        flex: 1;
        padding: 0.5rem 1rem;
        border: none;
        background: transparent;
        color: white;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
  
        &.active {
          background-color: white;
          color: black;
        }
      }
    }
  }