@use '../../styles/variables' as *;

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 20px 0;

  li {
    font-size: 14px;
    font-weight: 500;
    color: $silver;
    border: 1px solid $silver;
    border-radius: 20px;
    padding: 0 10px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
