@use '../../styles/variables' as *;

.img {
  border: 1px solid $silver;
  border-radius: 15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 75px;
  height: 75px;

  @media (min-width: 768px) {
    width: 90px;
    height: 90px;
    margin-right: 14px;
  }
}

.info {
  strong {
    display: block;
    font-weight: 500;
    font-size: 14px;

    @media (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 4px;
    }
  }

  span {
    font-size: 14px;
    color: $silver;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}
